{% extends "app/layout.html" %}
{% block content %}
<h2>{{ title }}</h2>
<br />
{% for post in posts %}
<hr />
<div class="">
    <h2>{{post.title}}</h2>
    <h4>{{post.posted}}</h4>
    <p>{{post.description}}</p>
    <p><a href="{% url 'blogpost' parametr=post.id %}"> Перейти к посту </a></p>
</div>
{% endfor %}

<script>
    document.querySelectorAll('h2').forEach(function(element) {
        element.style.color = '#00C600'; // Устанавливаем цвет
    });
    document.querySelectorAll('p').forEach(function(element) {
        element.style.color = '#A0ECA0'; // Устанавливаем цвет
    });
    document.querySelectorAll('h7').forEach(function(element) {
        element.style.fontSize = '13px';
        element.style.color = 'lightgray';
        element.style.textDecoration = 'underline';
    });
    document.querySelectorAll('h4').forEach(function(element) {
        element.style.fontSize = '14px';
        element.style.color = 'lightgray';
        element.style.textDecoration = 'underline';
    });

</script>
{% endblock %}
