{% extends "app/layout.html" %}

{% block content %}

<h2>Каталог внутриигрового контента</h2>

<!-- Список категорий -->
{% if subcategories %}
    <h3>Категории</h3>
    <ul>
        {% for category in subcategories %}
            <li>
                <a href="{% url 'catalog_category' category.id %}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<!-- Товары в выбранной категории -->
{% if selected_category %}
    <h3>Товары в категории: {{ selected_category.name }}</h3>
    {% if products %}
        <div style="display: flex; flex-wrap: wrap; gap: 20px;">
            {% for product in products %}
                <div style="border: 1px solid #ccc; padding: 10px; width: 200px;">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 100%; height: auto;">
                    {% else %}
                        <img src="/static/default_product.jpg" alt="Нет изображения" style="width: 100%; height: auto;">
                    {% endif %}
                    <h4>{{ product.name }}</h4>
                    <p>{{ product.price }} руб.</p>
                    <p>{{ product.description }}</p>
                    {% if not user.is_superuser and not is_manager %}
                    <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">Добавить в корзину</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>В этой категории пока нет товаров.</p>
    {% endif %}
{% endif %}


<script>
    document.querySelectorAll('h2').forEach(function(element) {
        element.style.color = '#00C600'; // Устанавливаем цвет
    });
    document.querySelectorAll('p').forEach(function(element) {
        element.style.color = '#A0ECA0'; // Устанавливаем цвет
    });
</script>

{% endblock %}
