{% extends "app/layout.html" %}

{% block content %}

<h2>Каталог внутриигрового контента</h2>

<!-- Кнопка для добавления нового товара -->
{% if can_manage_catalog %}
    <a href="{% url 'add_product' %}" class="btn btn-success" style="margin-bottom: 20px;">Добавить товар</a>
{% endif %}

<ul>
    {% for product in products %}
        <li>
            <h2>
                {{ product.name }} - {{ product.price }} руб.
                {% if user.is_authenticated %}
                    <a href="{% url 'add_to_cart' product.id %}" style="margin-left: 10px;">Добавить в корзину</a>
                {% endif %}
                
                <!-- Кнопки управления товаром -->
                {% if can_manage_catalog %}
                    <a href="{% url 'edit_product' product_id=product.id %}" class="btn btn-warning" style="margin-left: 10px;">Редактировать</a>
                    <a href="{% url 'delete_product' product_id=product.id %}" class="btn btn-danger" style="margin-left: 10px;">Удалить</a>
                {% endif %}
            </h2>
        </li>
    {% endfor %}
</ul>


<script>
    document.querySelectorAll('h2').forEach(function(element) {
        element.style.color = '#00C600'; // Устанавливаем цвет
    });
    document.querySelectorAll('p').forEach(function(element) {
        element.style.color = '#A0ECA0'; // Устанавливаем цвет
    });
</script>

{% endblock %}
