{% extends "app/layout.html" %}


{% block content %}

<h2>Удаление поста</h2>
<p>Вы уверены, что хотите удалить пост "{{ post.title }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit">Удалить</button>
    <a href="{% url 'blog' %}">Отмена</a>
</form>



<script>
    document.querySelectorAll('h2').forEach(function(element) {
        element.style.color = '#00C600'; // Устанавливаем цвет
    });
    document.querySelectorAll('li').forEach(function(element) {
        element.style.color = '#A0ECA0'; // Устанавливаем цвет
    });
</script>

{% endblock %}
