{% extends "app/layout.html" %}


{% block content %}

<h2>Редактирование поста</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
</form>


<script>
    document.querySelectorAll('h2').forEach(function(element) {
        element.style.color = '#00C600'; // Устанавливаем цвет
    });
    document.querySelectorAll('li').forEach(function(element) {
        element.style.color = '#A0ECA0'; // Устанавливаем цвет
    });
</script>

{% endblock %}
